body, html {
  padding: 0px;
  margin: 0px;
  border: 0px;
  width: 100%;
  height: 100%;
}

.no-buffer {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#main {
  width: 100%;
  height: 100%;
}

#top {
  display: -webkit-flex;
  height: 7%;
  border-bottom: 1px solid rgb(222, 219, 219);
}

#logo {
  width: 15%;
  height: 100%;
  background: url(../assets/color_logo.svg) center center no-repeat;
  background-size: 80%;
}

#effects {
  width: 84%;
  height: 100%;
}

#middle{
  display: -webkit-flex;
  height: 92%;
}

#images {
  width: 10%;
  height: 100%;
}

#current-image {
  width: 74%;
  height: 100%;
}

#controls {
  width: 15%;
  height: 100%;
}

.current-canvas {
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  vertical-align: middle;
  -moz-box-shadow: 0 0 10px #DEDEDE;
  -webkit-box-shadow: 0 0 10px #DEDEDE;
  box-shadow: 0 0 10px #DEDEDE;
}

#image-container {
  width: 100%;
  height: 100%;
  background-color: rgba(238, 238, 238, 0.36);
  text-align: center;
  background-image: url(../assets/dots.png);
  background-position-x: 25px;
  background-position-y: 25px;
  -moz-box-shadow: inset 0 0 10px #DEDEDE;
  -webkit-box-shadow: inset 0 0 10px #DEDEDE;
  box-shadow: inset 0 0 10px #DEDEDE;
}

.padding {
  padding: 50px;
}

#file-upload-area {
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
}

#file-upload-area:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  height: 100%;
}

#file-upload-icon {
  display: inline-block;
  vertical-align: middle; 
  width: 200px;
  -webkit-filter: grayscale(1) drop-shadow(0px 0px 10px #DEDEDE);
  -webkit-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
  -moz-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
  -o-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
  transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

#file-upload-icon:hover {
  width: 275px;
  -webkit-filter: grayscale(0) drop-shadow(0px 0px 10px #DEDEDE);
}

#file-upload-area:hover #file-upload-icon {
  width: 275px;
  -webkit-filter: grayscale(0) drop-shadow(0px 0px 10px #DEDEDE);
}

#loading-icon {
  display: inline-block;
  vertical-align: middle;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  width: 100px;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(720deg);
  }
}

#image-list {
  width: "100%";
  height: "100%";
  text-align: center;
}

#list-item-container {
  width: 100%;
  padding: 5px 5px 0px 5px;
  text-align: center;
}

#list-item-container:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  height: 100%;
}

#image-list-item {
  width: 90%;
  -webkit-border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;

  -webkit-box-shadow: 10px 10px 20px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 20px -12px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 20px -12px rgba(0,0,0,0.75);

  -webkit-animation-duration: 1s;
  -webkit-animation-name: popin;
  -webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);

  -webkit-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
  -moz-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
  -o-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
  transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

#image-list-item:hover {
  -webkit-filter: brightness(1);
}

.not-selected {
  -webkit-filter: brightness(0.7);
}

.selected {
  -webkit-filter: brightness(1);
}

@keyframes popin {
  from {
    width: 0%;
  }

  to {
    width: 90%;
  }
}

#side-file-upload-icon {
  width: 40px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle; 
  -webkit-filter: grayscale(1);
  -webkit-transition: all 1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
  -moz-transition: all 1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
  -o-transition: all 1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
  transition: all 1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

#side-file-upload-icon:hover {
  width: 45px;
  -webkit-filter: grayscale(0);
}

#file-upload {
  display: none;
}
