body, html {
  padding: 0px;
  margin: 0px;
  border: 0px;
  width: 100%;
  height: 100%;
}

.no-buffer {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#main {
  width: 100%;
  height: 100%;
}

#top {
  display: -webkit-flex;
  height: 7%;
}

#logo {
  width: 15%;
  height: 100%;
  background: url(../assets/logo.svg) center center no-repeat;
  background-size: 80%;
}

#effects {
  width: 84%;
  height: 100%;
}

#middle{
  display: -webkit-flex;
  height: 92%;
}

#images {
  width: 10%;
  height: 100%;
}

#current-image {
  width: 74%;
  height: 100%;
}

#controls {
  width: 15%;
  height: 100%;
}
